#box1 {
    width: 200px;
    height: 200px;
    background-color: hsl(188, 100%, 63%);

    position: relative;
    /* top: 100px;
    left: 100px; */

    position: fixed;
    /* right: 0px;
    bottom: 0px;  */
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: hsl(0, 100%, 62%);
    position: absolute;
}