.container-sm {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.h5 {
    font-size: 20px;
}
.fw-bold {
    font-weight: bold;
}
.w-100 {
    width: 100%;
}
.py-4 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.text-white {
    color: white;
}
.bg-green {
    background-color: green;
}
.border-green {
    border: 1px solid green;
}
.bg-color {
    background-color: red;
}
.border-red {
    border: 1px solid red;
}
.py-3 {
    padding-bottom: 8px;
    padding-top: 8px;
}
.w-10 {
    width: 10%;
}
.text-end {
    text-align: end;
}
.h3 {
    font-size: 18px;
}
.bg-grey {
    background-color: grey
}